<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Directives</title>
    <link href="styles/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
</head>
<body ng-app role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Secret Santa</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" role="main" ng-init="sortBy='name'; reverse=false; currentPerson.gifts = []; people = [{name: 'Inigo Montoya', gifts: [{name: 'My Father', description: 'I just want my father back', price: 'priceless', enteredOn: '2014-11-05'}, {name: 'Six Fingered Man', description: 'He killed my father, he should prepare to die', price: '5000', enteredOn: '2014-11-06'}]},
         {name: 'Princess Buttercup', gifts: [{name: 'Rodent of Unusual Size', description: 'These are really cool', price: '300', enteredOn: '2014-10-30'}]},
         {name: 'Fezzik', gifts: [{name: 'Dr. Seuss Books', description: 'Best rhyming books around. Get these please.', price: '20', enteredOn: '2013-11-05'}, {name: 'Big rocks', description: 'They are a lot of fun to throw', price: '2', enteredOn: '2014-09-05'}]},
         {name: 'Westley', gifts: [{name: '50 years of memories', description: 'I lost these somewhere along the way, would love to get them back', price: '50000', enteredOn: 'N/A'}, {name: 'Miracle Pill', description: 'It tastes good in chocolate', price: '65', enteredOn: '2014-08-06'}, {name: 'Brute Squad', description: 'Need it so we can storm the castle', price: '200', enteredOn: '2014-08-07'}]}]">
        <div class="jumbotron">
            <h1>Secret Santa!</h1>
            <p>This is the world's best secret santa app where all of your wishes are guaranteed to come true.</p>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th ng-click="sortBy='name';reverse=!reverse">Name</th>
                    <th ng-click="sortBy='gifts.length';reverse=!reverse">Number of Gifts</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in people | orderBy:sortBy:reverse" ng-click="currentPerson.gifts = person.gifts">
                    <td>{{person.name}}</td>
                    <td>{{person.gifts.length}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Gift</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Entered On</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gift in currentPerson.gifts">
                    <td>{{gift.name}}</td>
                    <td>{{gift.description}}</td>
                    <td>{{gift.price | currency}}</td>
                    <td>{{gift.enteredOn | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="Scripts/angular/angular.js"></script>
    <script src="Scripts/angular-bootstrap/ui-bootstrap.min.js"></script>
</body>
</html>
